body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    
  }
  

  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    color: rgb(181, 66, 85) ;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  

    
    
 
  
  input[type="submit"]:hover {
    background-color: rgb(251, 126, 147);
  }
 

h1 {
  color: rgb(62, 58, 59) ;
}
header {
    
    
  padding: 20px;
  
}
.card{
  border-style: double color=rgb(181, 66, 85);
  text-align: center;
  background-color:whitesmoke;
  margin-right:300px;
  margin-left:365px;    
  margin-top: auto; 
  margin-bottom: auto;
  height:fit-content;
  width:50%;
}

/* Style the navigation */

nav {
  display:inline-block;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 background-color: rgb(218, 208, 210);
  overflow: hidden;
  margin-right:auto; 
  margin-left:auto;
}

nav li {
  display: inline;
}
nav ul li {
  display: inline;
  margin-right: 10px;
  float: left;
  margin-left: 50px;
  
}

nav li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;

  /* float: left; */
  margin-left: 10px;
}



/* Style the main content section */
main {
  margin-top:auto ;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Style the footer */
footer {
  
  
  padding: 20px;
  text-align: center;
}

 .meh{
 
  height: 250px;

}
/* img{
  float: left;
  height: 200px;
  width: 200px;
  padding-top: 2px;
  padding-right: 2px;
} */
p {
  color:rgb(72, 71, 71);
  font-style: italic;
  font-weight: bold;
}
h1 {
  color: rgb(38, 126, 129) ;
  font-style: oblique;
  text-align: center;
  border-bottom: solid rgb(38, 126, 129) 1px;
  border-top: solid rgb(38, 126, 129) 1px;
}
img{
  display:flex;
  height: 200px;
  width:200px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;


}
body{
  background-image:url(download\ \(1\).jfif);
}